<% flash.each do |type, msg| %>
    <div class = "flash-notice alert alert-<%= type.to_s == 'error' ? 'danger' : type %>">
      <%= msg %>
    </div>
<% end %>



<%= form_with url: "/articles", method: :post do |form| %>
    <%= form.label :title %>
    <%= form.text_field :title %>
    <%= form.label :body %>
    <%= form.text_field :body %>
    <%= form.submit %>
<% end %>

<%=link_to "Back", articles_path %>